package config

// GetHTMLConfigList ...
type GetHTMLConfigList struct {
	ImgURLPattern	string
	StoreDir		string
}

// Config ...
var Config GetHTMLConfigList

func init() {
	Config = GetHTMLConfigList{
		ImgURLPattern:	"",
		StoreDir:		"",
	}
}
